fastapi
uvicorn[standard]
pymongo
python-jose
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
pydantic-settings
python-dotenv
email-validator
pyotp
mongomock>=4.1.0
prometheus-fastapi-instrumentator>=7.0
pytest==7.4.4
httpx==0.26.0
